@charset "gb2312";
/* CSS Document */
* { margin: 0; padding: 0 }
body { font: 12px "宋体", Arial, Helvetica, sans-serif; }
a { color: #333; text-decoration: none }
a:hover { text-decoration: none; }
img { border: 0; display: block }
ul, li { list-style: none; }
img { border: 0; vertical-align: middle; }
p { word-wrap: break-word }
.left { float: left; }
.right { float: right; }
.blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
.box { width: 1000px; margin: auto; overflow: hidden }
/* 头部信息 */
header { width: 100%; }
.topnav { width: 100%; background: #f5f5f5; height: 30px; line-height: 30px; color: #797979; border-bottom: #dadada 1px solid }
.fav { background: url(../images/fav.jpg) no-repeat left center; }
.fav a { padding: 0 0 0 20px; }
.logo { margin: 20px auto; z-index: 0; height: 45px; overflow: hidden }
.tell { background: url(../images/tell.jpg) left no-repeat; padding-left: 30px; margin-top: 20px; }
.tell span img { width: 151px; height: 25px; display: inline }
.tell b { margin: 0 0 0 10px; }
.menu { background: #454545; width: 100%; line-height: 36px; font-size: 14px; overflow:hidden }
.menu ul { width: 1000px; margin: auto; position: relative; overflow:hidden }
.menu ul li { display: block;  float:left; width:100px; text-align:center }
.menu ul li a { color: #FFF ;display: block;}
.menu ul li.fir { margin-left: 260px }
.menu ul li a:hover { background:#900}
.love { background: #bc1236; line-height: 36px; height: 36px; display: block; color: #FFF; float: left; position: absolute; left: 0px; top: 0; z-index: 9999; width: 230px; text-align: center; font-size: 16px; font-family: "微软雅黑", Arial, Helvetica, sans-serif; }
/* 底部信息 */
footer { background: #474747; color: #FFF; font-family: "微软雅黑", Arial, Helvetica, sans-serif; }
footer a { color: #8a8a8c }
footer a:hover { color: #FFF }
.end01 { width: 100%; background: #e7e7e7; color: #343434; font-size: 18px; padding: 20px 0 }
.end01 p { width: 1000px; margin: auto }
.end01 p span { float: right; font-size: 14px; background: #fc9819; width: 100px; text-align: center; padding: 5px 20px }
.end01 p span a { color: #FFF; }
.end01 p span:hover { background: #F60 }
.end01 p i { color: #746f71; padding-left: 20px }
.end02 { padding: 20px 0 }
.end02 h2 { font-size: 14px; margin-bottom: 10px; font-weight: normal; margin-top: 10px }
.end02 ul li { line-height: 24px; }
.w200 { width: 200px }
.end03 { border-top: #404040 1px solid; border-bottom: #404040 1px solid; padding: 20px 0; background: url(../images/endlogo.jpg) no-repeat left center }
.end03 ul{ overflow:hidden; width:608px}
.end03 ul li { border: #535353 1px solid; background: #3e3e3e; padding: 10px 20px; display:inline-block; float:left;margin-left: 10px }
.end03 ul li:hover { background: #333; }
.end03 ul li a { color: #fff }
.cop { text-align: center; padding: 10px 0 }
.cop a { color: #fff }
.cop a:hover { color: #999 }
