/* vertical-align: middle !important; align-items: center; justify-content: center; */
/* 横屏 *//* @media only screen and (orientation : landscape) {} */
/* 竖屏 *//* @media only screen and (orientation : portrait) {} */
/* @media only screen and (min-width: 750px) {} */
/* @media only screen and (max-width: 750px) {} */


html {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    font-family: '楷体', -apple-system, 'Times New Roman', sans-serif;
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(130,36,30,1);
}


@media only screen and (min-width: 808px) {

    body {
        display: flex;
        justify-content: space-around;
    }

}


/* 页首 */
header {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    /* height: 8rem; */
    display: flex; flex-wrap: wrap; align-items: center; justify-content:space-around;
    background-color: rgba(130,36,30,1);
    user-select: none;
}
    /* 匾额 */
    div.plaque-box {
        /* height: 8rem; */
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border: none;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
        vertical-align: middle !important;
    }
    table.plaque, table.plaque tr, table.plaque td {
        margin: 0;
        padding: 0;
        border: none;    
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        text-align: center;
        vertical-align: middle !important;
    }
    table.plaque { border-collapse: collapse; border-spacing: 0; color: rgba(243,215,55,1); }
    table.plaque td.logo { width: 4.75rem; height: 4.75rem; background-position: center; background-size: contain; background-repeat: no-repeat; background-image: url(https://zhengxie.info/assets/image/favicon.ico); }
    table.plaque td.logo + td { text-align-last: justify; }
    table.plaque tr.mid { font-size: 2rem; font-weight: bolder; border-top: 1px solid rgba(244,241,237,1); border-bottom: 1px solid rgba(244,241,237,1); }
    table.plaque td.mid { font-size: 1rem;  font-weight: lighter;  color: rgba(244,241,237,1); }
    /* \\ 匾额 */
/* \\ 页首 */


a {
    color: rgba(244,241,237,1);
    text-decoration: none;
    font-size: 2rem;
}


main {
    min-width: calc(100% - 308px);
    min-height: calc(100% - 108px);
    /* background-color: rgba(244,241,237,0.8); */
    background-image: url(../image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}