html {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
  color: rgba(3,2,4,1);
  font-family: '楷体', -apple-system, 'Times New Roman', sans-serif;
  /* font-family: '宋体', -apple-system, 'Times New Roman', sans-serif; */
  -webkit-text-size-adjust: 100%;
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  /* background-position: center; */
  background-position: top;
  background-color: rgba(244,241,237,1);
  background-image: url(../../../../assets/image/background.png);
}
body {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  height: 100%;
}


.header-box {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  background-color: rgba(130, 36, 30, 1);
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
}
header {
  margin: 0;
  padding: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  align-items: center;
  user-select: none;
  display: flex;
  justify-content: space-between;
  width: 99.99%;  
  max-width: 960px;
  background-color: rgba(130, 36, 30, 1);
}


div.plaque-box {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border: none;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle !important;
}
table.plaque, table.plaque tr, table.plaque td {
  margin: 0;
  padding: 0;
  border: none;    
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle !important;
}
table.plaque { border-collapse: collapse; border-spacing: 0; color: rgba(243,215,55,1); }
table.plaque td.logo36 { 
  background-image: url(../../../../assets/image/favicon.ico);
  width: 2.5rem;
  height: 2.5rem;
  background-position: center; background-size: contain; background-repeat: no-repeat;
}
table.plaque td.logo76 {
  background-image: url(../../../../assets/image/favicon.ico);
  width: 4.75rem;
  height: 4.75rem;
  background-position: center; background-size: contain; background-repeat: no-repeat;
}
table.plaque td.logo36 + td { text-align-last: justify; font-size: 1.5rem; font-weight: bolder; }
table.plaque td.logo76 + td { text-align-last: justify; border-bottom: 1px solid rgba(244,241,237,1); }
table.plaque tr.mid { font-size: 2rem; font-weight: bolder;  }
table.plaque tr.mid + tr { border-top: 1px solid rgba(244,241,237,1); }
table.plaque td.mid { font-size: 1rem;  font-weight: lighter;  color: rgba(244,241,237,1); }


a.button-href {
  font-size: 2rem;
  color: rgba(243,215,55,1); 
 text-decoration: none;
}
a.button-href i {
  margin-right: 1.5rem;
  width: 2.5rem;
}

i.button-menu {
  font-size: 2rem;
  color: rgba(243,215,55,1); 
  cursor: pointer;
}
i.button-uptotop {
  font-size: 2rem;
  color: rgba(243,215,55,1); 
  cursor: pointer;
  color: rgba(130, 36, 30, 1);
}


.sidebar {
  opacity: 999;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 17.5rem;
  padding: 1.5rem;
  background: rgba(130, 36, 30, 1);
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
header.open ~ .sidebar {
  left: 0;
}
.overlay {
  position: fixed;
  top: 0;
  /* left: -100%; */
  height: 100vh;
  width: calc(100vw - 20.5rem);
  opacity: -1;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
  background-image: url(../../../../assets/image/job.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
header.open ~ .overlay {
  opacity: 999;
  left: 19rem;
  pointer-events: auto;
}




/* 页面核心 */
div.core {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
main {
  margin-top: 4rem;
  width: 99.99%;
  max-width: 60rem;
  min-height: calc(100vh - 4rem);
  background-color: rgba(244,241,237,0.8);
}


h1 {
  display: inline-block;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow:hidden;
}


.text {
  height: 300px; 
  /* width: 100%;  */
  background-color: brown;
  
  text-overflow:ellipsis;overflow:hidden;white-space: nowrap;}


  section {
    margin-left: 1.5rem;
    margin-right: 1.5rem;

  }

