.container {
    display: flex;
  }
  
  .sidebar {
    width: 300px;
    background-color: #f1f1f1;
    transition: width 0.3s;
  }
  
  .content {
    flex: 1;
    background-color: #ffffff;
    transition: margin-left 0.3s;
  }