.in_scro {
    height: 50px;
    width: 80%;
    margin: 15px auto;
    overflow: hidden;
}
 
.in_scrview {
    color: #000000;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    animation: myMove 5s linear infinite;
    animation-fill-mode: forwards;
}
.in_scrview:nth-child(even){
    color: #686767;
    font-size: 8px;
}
 
/*文字无缝滚动*/
 
@keyframes myMove {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-60px);
    }
}