table, tr, td {
    margin: 0;
    padding: 0;
    border: none;
    }
html {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    font-family: '宋体', -apple-system, 'Times New Roman', sans-serif;
    color: rgba(3,2,4,1);
    background-color: rgba(244,241,237,1); 
    background-color: rgba(130,36,30,1);
    background-color: rgba(3,2,4,1);
    background-color: rgba(37,86,122,1);
    background-color: rgba(243,215,55,1);
    }
body {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    }
    div#sidebar {
        width: 312px;
        background-color: rgba(130,36,30,1);
        overflow-x: hidden;
        transition: all 0.5s ease;
        flex: none;
        }
        #check-sidebar:not(:checked) + #sidebar {
            width: 0;
        }
        #check-sidebar:not(:checked) + #sidebar > * {
            display: none;
        }

    div#main {
        width: 100%;
        height: 100%;
        overflow: auto;
        background-image: url(./background.png); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center;
        transition: all .5s ease;   
        }
        div#top  {
            width: 100%;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background-color: rgba(130,36,30,1);    
            color: rgba(243,215,55,1);
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            }
            #top > label {
                text-align: center;
                align-items: center;
                align-content: center;
                font-size: 2rem;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                }
                #top > label.open {
                    display: none;
                }
                #top > label.close {
                    color: rgba(244,241,237,1);
                }
        div#myiframe-box {
            width: 100%;
            overflow-x: auto;
            min-height: calc(100% - 38px);
        }




/* 匾额 */
table#plaque { border-collapse: collapse; color: rgba(243,215,55,1); text-align: center; margin-top: 0.75rem; margin-bottom: 0.75rem; margin-left: auto; margin-right: auto;}
table#plaque .logo { width: 4.75rem; height: 4.75rem; background-position: center; background-size: contain; background-repeat: no-repeat; background-image: url(./favicon.ico);  }
table#plaque .logo + td { text-align-last: justify; }
table#plaque tr.mid { font-size: 2rem; font-weight: bolder; border-top: 1px solid rgba(244,241,237,1); border-bottom: 1px solid rgba(244,241,237,1); }
table#plaque td.mid { font-size: 1rem;  font-weight: lighter;  color: rgba(244,241,237,1); }




input[type="checkbox"].hidden {
    display: none;
    }


